<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE Intro</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
      integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="app">
      <h1>Hello {{name}}</h1>
      <input type="text" v-model="name" />
      <ul>
        <li v-for="framework in frameworks">{{framework}}</li>
      </ul>
      <!-- <div>{{frameworks}}</div> -->
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          name: "scalper",
          frameworks: ["React", "Vue", "Angular"],
        },
      });
    </script>
  </body>
</html>
